.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 40, 40, 0.5);
    /* Adjust the color and opacity as needed */
    z-index: 1;
}

.login_box {
    background-color: rgb(255, 255, 255);
    height: 60vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 3;
}

.login input {
    width: 30vw;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px; 
    margin: 10px;
    border-bottom: 2px solid #000000c2;
    color: #000000c2;
}

.login button {
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 5px;
    background-color: #000000c2;
    color: white;
}

.login button div {
    display: flex;
    align-items: center;
}

.login button img {
    height: 30px;
    margin-left: 10px;
}

.extra_options {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logOut {
    font-size: 1vmax;
    color: #ffffff;
    background-color: transparent;
    border: none;
    height: 5.1vh;
    width: 5vw;
}

#logOut:hover {
    background-color: #ddd;
    color: black;
}

