.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
  z-index: 15;
  justify-content: space-between;
  position: relative;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14% 16px;
  text-decoration: none;
  height: 100%;
}

.nav-links li a:hover {
  background-color: #ddd;
  color: black;
}