.ProfilePage {
  Object-fit: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Ensures it covers full viewport height */
  width: 100%;
  background-image: url('../Images/bg2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}

.ProfilePage p {
  font-size: 1.5vmax;
  color: rgb(0, 0, 0);
  margin: 0;
}

#profileBox {
  background-color: transparent;
  padding: 1vh;
  height: 100vh;
  width: 100vw;
  margin: 2vmax;
  margin-top: 10vh;

}

#profile-info {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
}

#user-details {
  display: flex;
  flex-direction: horizontal;
  gap: 2vmax;
}

#user-info {
  border-color: black;
  border-width: .3vmax;
  background-color: white;
  display: flex;
  flex: 1;
  padding: 1vmax;
  gap: 1vmax;
  border-style: solid;
  width: 7vw;
  height: 18vh;
}

#user-info img {
  border-radius: 20%;
  border-color: black;
  width: 7vmax;
  height: 7vmax;
  object-fit: cover;
  object-position: center;
}


#stats {
  width: 7vw;
  height: 18vh;
  border-color: black;
  border-width: .3vmax;
  background-color: white;
  flex: 4;
  padding: 2vmax;
  border-style: solid;
}

#bio {
  width: 97vw;
  height: 10vmax;
  margin-top: 1vmax;
  border-color: black;
  border-width: .3vmax;
  background-color: white;
  padding: 1vmax 2vmax 2vmax 2vmax;
  border-style: solid;
}

#bio p {
  margin-top: .1vh;
}