.homepage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* You can add other styling as needed */
}

#home-body {
    margin: 0;
    padding-top: 1.8%;
    background-color: #f3f0f058;
    height: 200vh;

}


header {
    width: 100%;
    height: 20vw;
    max-height: 30vh;
    overflow: hidden;
    top: 0px;
    z-index: 0;
    position: relative;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: fixed;
    top: 0px;
    z-index: 0; */
}

#search-create-container {
    height: 1.7%;
    display: flex;
    justify-content: flex-end;
    margin: 2vh;
}

#search-create-container input {
    margin-left: 1vw;
    width: 20%;
    /* Adds space between the input and button */

}

#search-create-container button {
    margin-left: 1vw;
    width: 20%;
    font-size: large !important;
    ;
}


.bold-line {
    padding: 5px;
    /* Adjust the thickness here */
    background-color: black;
    /* Adjust the color here */
    margin: 2% 2%;
    /* Optional: Adjust the vertical spacing around the line */
}

#dedicated-matches {
    text-align: center;
    font-size: 200%;
    margin: 0;
}

#dedicated-matches-container {
    display: flex;
    flex-direction: column;
    gap: 3px;  
  }
  
  
  #dedicated-matches-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .prev-button {
    display: inline-block;
    margin-right: 8px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 10px;
    margin-left: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .next-button {
    display: inline-block;
    margin-right: 8px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 10px;
    margin-right: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .prev-button:hover {
    cursor: pointer;
    background-color: black;
  }

  .next-button:hover {
    cursor: pointer;
    background-color: black;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(146, 139, 139, 0.5);
}